<section id="header-container">
    <header id="floating-header-container">
        <div id="floating-header">
            <ul>
                <li><a href="/dashboard" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Distributors Management System">DMS</a></li>
                <li><a href="/distributorslist">Distributors List</a></li>
                <li><a href="/products" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="products Management System">PMS</a></li>
                <li><a href="/productslist">Products List</a></li>
                <li><a href="/sendtodistributor">Send to Distributor</a></li>
                <!-- <li><a href="/aboutus">About Us</a></li> -->
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </header>
</section>
<div class="logo-box">
    <div class="header-logo">
        <img src="{{ url_for('static', filename='images/pt-logo-png.png') }}" alt="Example Image" class="logo">
        <!-- <h5 id="logo-title">Pharma Trace</h5> -->
    </div>
</div>