<section id="header-container">
    <header id="floating-header-container">
        <div id="floating-header">
            <ul>
            <li><a href="/ddashboard" data-bs-toggle="tooltip" data-bs-placement="top"
                title="Product Management System">Suppliers MS</a></li>
            <li><a href="/supplierslist" data-bs-toggle="tooltip" data-bs-placement="top"
                title="Product Management System">Suppliers List</a></li>
            <li><a href="/distributedproducts"data-bs-toggle="tooltip" data-bs-placement="top"
                title="Product Management System">My Products</a></li>
            <li><a href="/sendtosupplier" data-bs-toggle="tooltip" data-bs-placement="top"
                title="Product Management System">Send to Supplier</a></li>
            <li><a href="/logout" data-bs-toggle="tooltip" data-bs-placement="top"
                title="Product Management System">Logout</a></li>
            </ul>
        </div>
    </header>
</section>
<div class="logo-box">
    <div class="header-logo">
        <img src="{{ url_for('static', filename='images/pt-logo-png.png') }}" alt="Example Image" class="logo">
        <!-- <h5 id="logo-title">Pharma Trace</h5> -->
    </div>
</div>